:root {
  --bg-color: #f7f7f7;
  --main-color: #252525;
  --accent-color: #6C63FF;
  --button-color: #F7F7F7;
  --button-bg-color: #6C63FF;
  --dropdown-hover-color: #DBD9F9;
  --button-hover-color: #534CC2;
  --border-color: #6C63FF;
  --icon-controls-color: #CDCDCD;
  --cursor-pointer: url('./assets/icons/cursor-icon-black.png'), pointer;

}