.theme_button {
  min-width: 38px;
  min-height: 38px;
  position: relative;
  padding: 8px;
  background-color: var(--button-bg-color);
  outline: none;
  border: 1px solid var(--button-bg-color);
  border-radius: 5px;
  cursor: var(--cursor-pointer);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &_icon_day {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 22px;
    height: 22px;
    display: block;
    opacity: 0;
    transition: opacity 0.15s;
  }
}

.active {
  opacity: 1;
}
